*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.links{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.links:hover{
    opacity: 0.8;
}

h4{
    font-weight: 500;
}

span{
    opacity: 0.5;
}

.first{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first h3{
font-size: 65px;
font-weight: 600;
letter-spacing: -1px;
}
.first p{
font-size: 18px;
font-weight: 400;
letter-spacing: -1px;
opacity: 0.5;
}

.first button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

main{
    padding: 0 60px;
}

.third{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.infoCard{
    width: 30%;
    border-radius: 12px;
    background-color: rgb(211, 206, 206);
    padding: 20px;
}